<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907942851282-st8n311f98rev89tc1eqp9lca74cs9di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907942851282-st8n311f98rev89tc1eqp9lca74cs9di</string>
	<key>API_KEY</key>
	<string>AIzaSyA6AAGdFe8pSPE7RFAY5xdHjOgy3apf5Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>907942851282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bmi.cal.bmiCal</string>
	<key>PROJECT_ID</key>
	<string>bmi-cal-50def</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-cal-50def.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907942851282:ios:4d658e3018df096502730b</string>
</dict>
</plist>